table, th, td{
    border: 1px solid #000;
    border-collapse: collapse;
    font-family: "Times New Roman", serif;
    padding: 5px;
    width: 400px;
}
th{
    background-color: #e6f0d8;
    text-align: center;
    font-weight: normal;
}